/* universal selector */
/*  */

/* tag/element selector */
h1{
    text-align: center;
    /* background-color: blue; */
    /* width: 800px; */
    color: red;
    /* width: 400px; */
    
}

/* attribute selector */
a[title=google]{
    color: brown;
}
a[title=facebook]{
    color: skyblue;
}

/* id selector */
#idselector{
    color: yellow;
    font-size: 40px;
    text-align: center;
}

/* class selector */
.classselector{
    color: green;
    letter-spacing: 10px;
    word-spacing: 30px;
    line-height: 100px;
}

/* descendanr selector */
#pone a{
    color: blue;
}

/* child selector */
#ptwo > a{
    color: red;
}

/* pseudo selector */
a:link{
    color: red;
    text-decoration: none;
}
a:hover{
    color: green;
    text-decoration: underline;
}
a:active{
    color: black;
}
a:visited{
    color: palevioletred;
    text-decoration: line-through;
}
/* target */
p:target{
    color:green;
    border:1px solid red;
}

/* border */
.borderone{
    border: 5px dotted green;
}
.bordertwo{
    border-top: 5px dashed;
    border-bottom: 3px double;
    border-color: aqua;
}
.borderstyle{
    /* all four T,R,B,L */
    border-style: dashed;
    /* T&B,L&R */
    border-style: dashed solid;
    /* T,L&R,B */
    border-style: solid double dashed;
    /* T,R,B,L */
    /* border-style: solid dashed dotted double; */
    border-color: red green yellow;
    border-width: 10px;
}
/* Margin */
.margin{
    /* all four */
    /* margin: 100px; */
    margin: 30px 50px 20px 50px;
}
.padding{
    border: 5px solid green;
    /* all four */
    /* padding: 50px; */
    padding: 50px 50px 50px 50px;
}
.inline{
    color: red !important;
    border: 1px green solid;
    /* display-block */
    display: block;
    width: 200px;
}
.block{
    color: blue;
    border: 1px red solid;
    width: 300px;
}
/* float */
.float_left img{
    width: 40%;
    float: left;
}
.float_right img{
    width: 30%;
    float: right;
}
.float_right p{
    padding-top: 20%;
}
.cle{
    clear: left;
}
/* grid */
.gridone div,.gridtwo div{
    display: grid;
    padding: 30px;
    color: white;
    text-align: center;
}
.gridone{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.gridtwo{
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}