/* universal selector */
/*  */

/* tag/element selector */
h1{
    text-align: center;
    /* background-color: blue; */
    /* width: 800px; */
    color: red;
    /* width: 400px; */
    
}

/* attribute selector */
a[title=google]{
    color: brown;
}
a[title=facebook]{
    color: skyblue;
}

/* id selector */
#idselector{
    color: yellow;
    font-size: 40px;
    text-align: center;
}

/* class selector */
.classselector{
    color: green;
    letter-spacing: 10px;
    word-spacing: 30px;
    line-height: 100px;
}

/* descendanr selector */
#pone a{
    color: blue;
}

/* child selector */
#ptwo > a{
    color: red;
}

/* pseudo selector */
a:link{
    color: red;
    text-decoration: none;
}
a:hover{
    color: green;
    text-decoration: underline;
}
a:active{
    color: black;
}
a:visited{
    color: palevioletred;
    text-decoration: line-through;
}
/* target */
p:target{
    color:green;
    border:1px solid red;
}

/* border */
.borderone{
    border: 5px dotted green;
}
.bordertwo{
    border-top: 5px dashed;
    border-bottom: 3px double;
    border-color: aqua;
}
.borderstyle{
    /* all four T,R,B,L */
    border-style: dashed;
    /* T&B,L&R */
    border-style: dashed solid;
    /* T,L&R,B */
    border-style: solid double dashed;
    /* T,R,B,L */
    /* border-style: solid dashed dotted double; */
    border-color: red green yellow;
    border-width: 10px;
}
/* Margin */
.margin{
    /* all four */
    /* margin: 100px; */
    margin: 30px 50px 20px 50px;
}
.padding{
    border: 5px solid green;
    /* all four */
    /* padding: 50px; */
    padding: 50px 50px 50px 50px;
}
.inline{
    color: red !important;
    border: 1px green solid;
    /* display-block */
    display: block;
    width: 200px;
}
.block{
    color: blue;
    border: 1px red solid;
    width: 300px;
}
/* float */
.float_left img{
    width: 40%;
    float: left;
}
.float_right img{
    width: 30%;
    float: right;
}
.float_right p{
    padding-top: 20%;
}
.cle{
    clear: left;
}
/* grid */
.gridone div,.gridtwo div,.gridthree div,.gridfour div{
    display: grid;
    padding: 30px;
    color: white;
    text-align: center;
}
.gridone , .gridthree,.gridfour{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.gridtwo{
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}

/* apple */
.apple{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}
.apple img{
    width: 260px;
    padding-top: 10px;
    padding-left: 15px;
    float: left;
}
.apple span{
    padding-left: 15px;
    color: white;
    font-size: 30px;
}
.apple h1{
    color: white;
    text-align: left !important;
    /* padding-left: 150px !important; */
}

/* column add/row add */
.coladd{
    grid-column-start: 1;
    grid-column-end: 3;
}
.coladd2{
    grid-column-start: 1;
    grid-column-end: 4;
}
.rowadd{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.rowadd2{
    grid-row-start: 1;
    grid-row-end: 4;
}
.relative_parent{
    width: 1000px;
    height: 500px;
    border: 2px solid red;
}
.relative{
    width: 200px;
    height: 300px;
    border: 2px solid green;
    position: relative;
    top: 100px;
    left: 100px;
}
.absolute_parent{
    width: 1000px;
    height:500px;
    border: 2px dotted blue;
}
.absolute{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 100px;
    border: 2px dotted brown;
}
/* parent html ko relative call */
.absolute_parent2{
    width: 1000px;
    height:500px;
    border: 2px dotted rgb(191, 255, 0);
    position: relative;
}
.absolute2{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 100px;
    border: 2px dotted rgba(240, 11, 171, 0.5);
}
.fixed{
    border: 2px dashed palevioletred;
    position: fixed;
    top: 200px;
    right: 100px;
}
/* font */
.online{
    font-family: 'Oswald', sans-serif;
}
@font-face {
    font-family: oswold;
    src: url(font/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
.offline{
    font-family: oswold;
}